<div class="container">
    <h2 class="title">Calificación:</h2>
    <form [formGroup]="qualificationForm" (ngSubmit)="onSubmit()">
        <div class="tlf">
            <mat-form-field>     
                <input type="tel" matInput placeholder="Ingrese un teléfono" class="form-input" formControlName="phone" phone [maxLength]="10">
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-error *ngIf="qualificationForm.controls.phone.invalid && qualificationForm.controls.phone.touched">
                    Numero de telefono Inválido
                </mat-error>
            </mat-form-field>
        </div>
        <div class="tags">
            <mat-form-field appearance="outline">
              <mat-select placeholder="Seleccione una opción" formControlName="tags">
                <mat-option *ngFor="let tag of tags" [value]="tag">{{tag}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error *ngIf="qualificationForm.controls.tags.invalid && qualificationForm.controls.tags.touched">
              Debe seleccionar una opción
            </mat-error>
          </div>
        <div class="form-btn">
            <button mat-raised-button color="primary" type="submit">Enviar calificación</button>
        </div>
    </form>
</div>
