 
.title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
  color: #3f51b5
}

.label {
  padding-right: 20px;
  display: block;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -180px;
}

.tlf {
  height: 30%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tags {
  flex: 1;
  height: 30%;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

 .form-radio {
  display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
 }

 .form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
 }


 
