/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-snack-bar-container.snackbar-error {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
    border-radius: 10px;
    
  }
  
  .mat-mdc-snack-bar-container.snackbar-success {
      --mdc-snackbar-container-color: #4CAF50;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
      border-radius: 10px;
  }
  
  .mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #4e5986;
  }

  .mat-form-field {
    width: 100%;
  }

  .form-input, .mat-select {
    width: 100%;
  }

  .mat-mdc-form-field {
    display: block !important;
  }